node_modules/
dist/
release/
.venv/
.pytest_cache/
__pycache__/
.DS_Store
app/shot.png

app/ios/App/App/public/
app/ios/App/Pods/
app/ios/App/build/
app/ios/App/App/capacitor.config.json
app/ios/DerivedData/
xcuserdata/
